<!DOCTYPE html>
<html lang="en_US">

<head>
    <title>FPL Optimized  - Analytics xP League</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="Optimized squads for Fantasy Premier League -- everyday!" />
    <meta name="keywords" content="fantasy, football, soccer, premier league, mathematics, optimization, analytics, sports" />
    <meta name="author" content="Sertalp B. Cay (sertalpbilal@gmail.com)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/fontawesome.min.js" integrity="sha256-TMRxGf3NaZhrxTfD8y/NGiyE4UXBA3udH1l+Co8JDVU=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.3.0/d3-interpolate.js" integrity="sha512-KcUKnCgVgjA6pyyyN33d5S1IHk9hFUaldkL8BmKvqR+7q9HyZj3jmWJemF6IJuLkcj3biCNzdGgXNPJCjurXnQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" integrity="sha256-rx5u3IdaOCszi7Jb18XD9HSn8bNiEgAqWJbdBvIYYyU=" crossorigin="anonymous">
    <link href="//unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css"> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L07T8LS957"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-L07T8LS957');
    </script>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/svg.css">

    <link rel="manifest" href="/static/asset/manifest.json">
    <link rel="apple-touch-icon" href="/static/asset/apple_logo_114.png">
    <link rel="apple-touch-startup-image" href="/static/asset/apple_splash_320.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FPLOptimized">

</head>

<body>

    <div id="app">

        <header class="bg-dark-gray mb-1">
            <div class="container">
                <nav class="navbar navbar-collapse navbar-dark container-fluid pl-0 pr-0">
                    <a class="navbar-brand ml-0 ml-md-3 mr-0 mr-md-3 mr-auto flex-grow-1" href="/" aria-label="Bootstrap">FPL Optimized</a>
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggler" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-secondary flex-row-reverse" id="menuToggler">
                        <span class="twitter-link ml-2 float-right"><a href="https://twitter.com/sertalpbilal"></a></span>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="week.html">Optimal Squads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="live_gw.html">Live GW</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="team_summary.html">GW Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="fpl_analytics_league.html">FPL Analytics xP League</a>
                            </li>
                            <li class="nav-item no-sep">
                                <a class="nav-link" href="https://twitter.com/sertalpbilal" target=_blank><i class="fab fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </nav>
            </div>
        </header>


        <!-- <div class="mt-1 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-info alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> First time on FPL Optimized? Read a summary of tools <a target="_blank" href="https://threadreaderapp.com/thread/1391100607205941253.html">here.</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div> -->
<!-- 
        <div class="mt-2 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-success alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> FPLOptimized is ready for new season! Welcome back :)</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div> -->


<main class="container" v-cloak>
    

    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">FPL Analytics xP League</h5>
                <div class="card-body text-center p-3">
                    <div class="text-center mb-1">Overall Standings</div>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-1">
                            <button class="btn btn-sm btn-dark" :disabled="active_gw <= 1" @click="active_gw_update(-1)"><i class="fas fa-caret-left"></i></button>
                        </div>
                        <div class="col-10 col-lg-2">
                            {{ 'GW ' + active_gw }}
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm btn-dark" :disabled="active_gw >= parseInt(gw.slice(2))" @click="active_gw_update(1)"><i class="fas fa-caret-right"></i></button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="table-responsive mh-500" v-if="!_.isEmpty(season_data_for_gw)">
                            <table class="table table-sm text-white table-striped text-small" id="season_table" data-source="season_data_for_gw_cached">
                                <thead>
                                    <tr>
                                        <th class="" ><i class="fas fa-check-square"></i></th>
                                        <th class="sortable-th" @click="sortData" data-tag="rank">Obj Rank</th>
                                        <th class="sortable-th" @click="sortData" data-tag="sim_rank">Sim Rank</th>
                                        <th class="sortable-th" @click="sortData" data-tag="entry">ID</th>
                                        <th class="sortable-th" @click="sortData" data-tag="entry_name">Team</th>
                                        <th class="sortable-th" @click="sortData" data-tag="player_name">Manager</th>
                                        <th class="sortable-th highlighted-col-type2" @click="sortData" data-tag="obj_sum">Obj. Score</th>
                                        <th class="sortable-th" @click="sortData" data-tag="sim_mean_sum">Sim Sum</th>

                                        <th class="sortable-th" @click="sortData" data-tag="week_obj">GW Obj</th>
                                        <th class="sortable-th" @click="sortData" data-tag="sim_q50">GW Sim Mean</th>
                                        <!-- <th class="sortable-th" @click="sortData" data-tag="season_sum">Season Pts</th> -->
                                        <th class="sortable-th" @click="sortData" data-tag="total_pts">FPL Pts*</th>
                                        <th class="sortable-th" @click="sortData" data-tag="last_rank">FPL Rank*</th>
                                        
                                        <th class="sortable-th" @click="sortData" data-tag="chip_count">Chips Used</th>
                                        <th class="sortable-th" @click="sortData" data-tag="total_gw">GWs</th>
                                        <!-- <th class="sortable-th" @click="sortData" data-tag="obj_per_gw">Obj.pGW</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="entry in season_data_for_gw_cached">
                                        <td>
                                            <div class="form-group m-0">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" :value="entry.entry" :id="'comp-'+entry.entry" v-model="compareEntries" :disabled="compareEntries.length >= 10 && compareEntries.indexOf(entry.entry)==-1" @change="redraw_bump">
                                                    <label class="custom-control-label custom-control-label-t text-hide" :for="'comp-'+entry.entry">xx</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ entry.rank }}</td>
                                        <td>{{ entry.sim_rank }}</td>
                                        <td><a target=_blank :href="'https://fantasy.premierleague.com/entry/'+entry.entry+'/history'">{{ entry.entry }}</a></td>
                                        <td>{{ entry.entry_name }}</td>
                                        <td>{{ entry.player_name }}</td>
                                        <td class="highlighted-col-type2">{{ rounded(entry.obj_sum) }}</td>
                                        <td class="">{{ rounded(entry.sim_mean_sum) }}</td>

                                        <td>{{ rounded(entry.week_obj) }}</td>
                                        <td>{{ rounded(entry.sim_q50) }}</td>
                                        <!-- <td>{{ rounded(entry.week_sum) }}</td> -->
                                        <!-- <td>{{ rounded(entry.season_sum) }}</td> -->
                                        <td>{{ rounded(entry.total_pts, 0) }}</td>
                                        <td>{{ rounded(entry.last_rank, 0) }}</td>
                                        
                                        <td>
                                            <span class="ml-1 mr-1 p-1 chip-box" v-for="(chip,i) in entry.chip_sep" :class="'chip-' + chip">{{ chip_short[chip] + entry.chip_no[i] }}</span>
                                        </td>
                                        <td>{{entry.total_gw }}</td>
                                        <!-- <td>{{ rounded(entry.obj_per_gw) }}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div v-if="compareEntries.length > 1">
                        <div id="compare-bump">
                            {{ comparison_data }}
                        </div>
                        <div id="step-race">
                            
                        </div>
                        <div id="sim-results">
                            
                        </div>
                    </div>
                    <div v-else class="text-center text-muted">
                        Choose 2 or more teams to compare!
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">
                
                <div class="card-body text-center p-3">
                    <div class="text-center mb-1">Weekly Scores (with Autosub)</div>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-1">
                            <button class="btn btn-sm btn-dark" :disabled="active_gw <= 1" @click="active_gw_update(-1)"><i class="fas fa-caret-left"></i></button>
                        </div>
                        <div class="col-10 col-lg-2">
                            {{ 'GW ' + active_gw }}
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm btn-dark" :disabled="active_gw >= parseInt(gw.slice(2))" @click="active_gw_update(1)"><i class="fas fa-caret-right"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive mh-500" v-if="!_.isEmpty(processed_league_data)">
                        <!-- class="table-responsivex" -->
                        <table class="table table-sm text-white table-striped text-small" id="league_table" data-source="processed_league_data_cached">
                            <thead>
                                <tr>
                                    <th class="sortable-th" @click="sortData" data-tag="info.rank">#</th>
                                    <th class="sortable-th" @click="sortData" data-tag="[0].entry_name">Team</th>
                                    <th class="sortable-th" @click="sortData" data-tag="info.pre_xp">pre-xP</th>
                                    <th class="sortable-th" @click="sortData" data-tag="info.post_xp">post-xP</th>
                                    <th class="sortable-th" @click="sortData" data-tag="info.rp">Pts</th>
                                    <th class="sortable-th" @click="sortData" data-tag="info.luck">Pts-xP</th>
                                    <th class="sortable-th" @click="sortData" data-tag="info.team_value">TV</th>
                                    <th class="sortable-th" @click="sortData" data-tag="[1].entry_history.bank">ITB</th>
                                    <th class="sortable-th" @click="sortData" data-tag="[1].active_chip">Chip</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="entry in processed_league_data_cached">
                                    <td>{{ entry.info.rank }}</td>
                                    <td :data-search="entry[0].entry_name + ' ' + entry[0].player_name">
                                        <span class="team-name"><a target=_blank :href="'https://fantasy.premierleague.com/entry/'+entry[0].entry+'/event/' + active_gw">{{ entry[0].entry_name }}</a></span>
                                        <!-- <br/><span class="player-name">{{ entry[0].player_name }}</span> -->
                                    </td>
                                    <td>{{ rounded(entry.info.pre_xp,3) }}</td>
                                    <td>{{ rounded(entry.info.post_xp,3) }}</td>
                                    <td>{{ entry.info.rp }}</td>
                                    <td :data-order="entry.info.luck">{{ getWithSign(entry.info.luck,3) }}</td>
                                    <td>{{ entry.info.team_value }}</td>
                                    <td>{{ entry[1].entry_history.bank/10 }}</td>
                                    <td>{{ entry[1].active_chip }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center d-block mx-auto" id="loading_box" v-else>
                        Loading data... Please wait...
                        <img class="mx-auto d-block" src="static/images/loading.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="col-12 mb-0-lg">
            <div class="card card-field border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">Expected and Projected Points Data</h5>
                <div class="card-body field-body p-3">
                    <div class="row justify-content-center" v-if="!_.isEmpty(team_list_sorted_entry_name)">
                        <div class="ml-1 mr-1">
                            <div class="form-group text-center">
                                <label for="sel_team">Team Name</label>
                                <select class="form-control" id="sel_team" v-model="selected_team" @input="highlight_circle">
                                    <option v-for="m in team_list_sorted_entry_name" :value="m.entry">{{ m.entry_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="ml-1 mr-1">
                            <div class="form-group text-center">
                                <label for="sel_team">Manager</label>
                                <select class="form-control" id="sel_team" v-model="selected_team" @input="highlight_circle">
                                    <option v-for="m in team_list_sorted_player_name" :value="m.entry">{{ m.player_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" v-if="selected_team">
                        <div>
                            <a target=_blank :href="'https://fantasy.premierleague.com/entry/'+selected_entry_ref[0].entry+'/event/' + active_gw" class="btn btn-secondary">Show Team</a>
                        </div>
                    </div>
                    <div id="xp_vs_rp">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" v-cloak>
        <div class="col-12 mb-3">
            <div class="card border-dark bg-squad-card text-white qa">
                <!-- <div class="card-body text-left">
                    <h5>Note</h5>
                    <p>Data on this page is refreshed every 6 hours. It is possible that some values/graphs do not function properly while a GW is ongoing.</p>
                </div> -->
                <div class="card-footer text-white disclaimer">
                    The information contained on this website is for general information purposes only. Any reliance you place on this information is strictly at your own risk.
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    let season_vals = [];
    let season_file = "data/2021-22/GW32/2022-04-04/output/xp_league_ranks.csv";
</script>

 </div>

<div class="container mb-3">
    <div class="row gray-bg no-gutters">
        <div class="banner-link col-12 col-md-6" style="border: 1px solid #343436;">
            <img src="/static/images/ffhub.png" />Partnered with Fantasy Football Hub
            <a href="https://fantasyfootballhub.co.uk/" class="stretched-link" target="_blank"></a>
        </div>
        <div class="banner-link col-12 col-md-6" style="border: 1px solid #343436;">
            <img src="/static/images/review.png" />EV data is courtesy of FPL Review
            <a href="https://fplreview.com/" class="stretched-link" target="_blank"></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.js" integrity="sha512-M17tsaj3tHw5m/gI+8XjDLTuPZ0cpTofhFLJUT9niFa/DK8WAhsSLW764iSaaXoAoivXEFUP6VxvpiahJPQ4fg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    Vue.config.performance = true;
    Vue.prototype.$log = console.log;
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.5/jstat.js" integrity="sha512-D5uf20+sRi7oJxHzrp6LZDaY/IrSFIKmaQ7bOQA6V1Z+Jr9DOFKodR3RyYwdeEoGUZlfz76XQlDy5/TWdyKz9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js" integrity="sha512-tVYBzEItJit9HXaWTPo8vveXlkK62LbA+wez9IgzjTmFNLMBO1BEYladBw2wnM3YURZSMUyhayPCoLtjGh84NQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.4/vue-cookies.js" integrity="sha256-pdSyqKvUOsiAZVUhatSOyW3Wom0l7ABtO8w7LjPA3vU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>

<!-- <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script> -->

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.3"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.js" integrity="sha512-2ypsPur7qcA+2JjmmIJR1c4GWFqTLIe1naXXplraMg0aWyTOyAMpOk+QL+ULpzwrO/GdwA3qB3FhVyyiR8gdhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/fernet@0.3.1/fernetBrowser.js"></script>

<script>
    let repo_name = ""
    let season = "2021-22";
    let gw = "GW31";
    let next_gw = "GW31";
    let date = "2022-04-01";
    let lastupdate = "2022-04-05T04:27:40.135722+00:00";
    let listdates = [
        "2021-22 / GW32 / 2022-04-04 ", 
        "2021-22 / GW31 / 2022-04-01 ", 
        "2021-22 / GW30 / 2022-03-18 ", 
        "2021-22 / GW29 / 2022-03-12 ", 
        "2021-22 / GW28 / 2022-03-05 ", 
        "2021-22 / GW27 / 2022-02-25 ", 
        "2021-22 / GW26 / 2022-02-19 ", 
        "2021-22 / GW25 / 2022-02-12 ", 
        "2021-22 / GW24 / 2022-02-08 ", 
        "2021-22 / GW23 / 2022-01-21 ", 
        "2021-22 / GW22 / 2022-01-14 ", 
        "2021-22 / GW21 / 2022-01-01 ", 
        "2021-22 / GW20 / 2021-12-28 ", 
        "2021-22 / GW19 / 2021-12-26 ", 
        "2021-22 / GW18 / 2021-12-18 ", 
        "2021-22 / GW17 / 2021-12-14 ", 
        "2021-22 / GW16 / 2021-12-10 ", 
        "2021-22 / GW15 / 2021-12-04 ", 
        "2021-22 / GW14 / 2021-11-30 ", 
        "2021-22 / GW13 / 2021-11-27 ", 
        "2021-22 / GW12 / 2021-11-20 ", 
        "2021-22 / GW11 / 2021-11-05 ", 
        "2021-22 / GW10 / 2021-10-29 ", 
        "2021-22 / GW9 / 2021-10-22 ", 
        "2021-22 / GW8 / 2021-10-15 ", 
        "2021-22 / GW7 / 2021-10-02 ", 
        "2021-22 / GW6 / 2021-09-24 ", 
        "2021-22 / GW5 / 2021-09-17 ", 
        "2021-22 / GW4 / 2021-09-11 ", 
        "2021-22 / GW3 / 2021-08-28 ", 
        "2021-22 / GW2 / 2021-08-21 ", 
        "2021-22 / GW1 / 2021-08-13 ", 
    ];
    let is_active = false ;
    let active_gw = -1 ;
</script>


<script src="/static/js/main.js?ts=20220405042740"></script>

<script src="/static/js/sampling_utils.js?ts=20220405042740"></script>

<script src="/static/js/analytics_league.js?ts=20220405042740"></script>


<script>
    $('.alert').alert()
</script>

</body>

<div class="text-muted text-center mx-auto text-small mb-1 c-footnote">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div class="mx-auto text-center d-block text-muted text-small mb-1">Last update: 2022-04-05T04:27:40.135722+00:00</div>

</html> 