<!DOCTYPE html>
<html lang="en_US">

<head>
    <title>FPL Optimized</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="Optimized squads for Fantasy Premier League -- everyday!" />
    <meta name="keywords" content="fantasy, football, soccer, premier league, mathematics, optimization, analytics, sports" />
    <meta name="author" content="Sertalp B. Cay (sertalpbilal@gmail.com)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/fontawesome.min.js" integrity="sha256-TMRxGf3NaZhrxTfD8y/NGiyE4UXBA3udH1l+Co8JDVU=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" integrity="sha256-rx5u3IdaOCszi7Jb18XD9HSn8bNiEgAqWJbdBvIYYyU=" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css"> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.css" />

    <link rel="stylesheet" href="/fpl_optimized/static/css/styles.css">
</head>

<body>

    <div id="app">

        <header class="bg-dark-gray">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark  container-fluid pl-0 pr-0">
                    <!-- <div class="container flex-column flex-md-row"> -->
                    <a class="navbar-brand ml-0 ml-md-3 mr-0 mr-md-3" href="/fpl_optimized" aria-label="Bootstrap">FPL Optimized</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggler" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-secondary flex-row-reverse" id="menuToggler">
                        <!-- ml-0 ml-md-3 mr-0 mr-md-3 -->
                        <span class="twitter-link ml-2 float-right"><a href="https://twitter.com/sertalpbilal"></a></span>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="week.html">Optimal Squads</a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" href="top_squads.html">Top 50 Squads</a>
                        </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="team_summary.html">GW Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="ownership_trend.html">Ownership Trends</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="fpl_analytics_league.html">FPL Analytics xP League</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/sertalpbilal" target=_blank><i class="fab fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>
        </header>


<main class="container pt-3">

    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">

                <div class="card-body text-center p-3">
                    <div class="mx-auto d-flex justify-content-center" v-cloak>
                        <span>Last Update:</span>
                        <ul class="d-flex flex-row mb-0 p-0 ml-2" v-cloak data-toggle="modal" data-target="#dateModal">
                            <!-- <li class="nav-item breadcrumb-item">{{ season }}</li>
                            <li class="nav-item breadcrumb-item">{{ gw }}</li> -->
                            <li class="nav-item breadcrumb-item">{{ date }}</li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card card-field border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">FPL Analytics xP League</h5>
                <div class="scenario_detail">FPL Analytics League is generated using <a href="https://fplreview.com/season-review/">fplreview.com season review</a> tool. DM on Twitter to add your team ID to the list.</div>
                <div class="card-body">


                    <table id="fpl_analytics_table" class="table table-striped table-borderless table-sm text-white text-small w-100" v-if="is_ready" v-cloak>
                        <thead>
                            <tr>
                                <th colspan=1></th>
                                <th colspan=5 class="text-center bottom-gap-bordered">Points</th>
                                <th colspan=5 class="text-center bottom-gap-bordered">Ranks</th>
                            </tr>
                            <tr class="midrule">
                                <th>Twitter</th>
                                <th class="text-right">FPL</th>
                                <th class="text-right">xG</th>
                                <th class="text-right">IO</th>
                                <th class="text-right">MD</th>
                                <th class="text-right">Luck</th>
                                <th class="text-right">FPL</th>
                                <th class="text-right">xG</th>
                                <th class="text-center">IO</th>
                                <th class="text-right">MD</th>
                                <th class="text-right">Luck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="i in league_data">
                                <td><a :href="'https://twitter.com/' + i.twitter">{{ i.twitter }}</a></td>
                                <td class="text-right">{{ parseInt(i.FPL) }}</td>
                                <td class="text-right">{{ parseFloat(i.xG).toFixed(2) }}</td>
                                <td class="text-right">{{ parseFloat(i.IO).toFixed(2) }}</td>
                                <td class="text-right">{{ parseFloat(i.MD).toFixed(2) }}</td>
                                <td class="text-right">{{ parseFloat(i.Luck).toFixed(2) }}</td>
                                <td class="text-right">{{ i.FPL_Rank }}</td>
                                <td class="text-right">{{ i.xG_Rank }}</td>
                                <td class="text-right">{{ i.IO_Rank }}</td>
                                <td class="text-right">{{ i.MD_Rank }}</td>
                                <td class="text-right">{{ i.Luck_Rank }}</td>
                                <!-- <td>{{ team_codes[i.team_code].short }}</td>
                                <td class="text-right">{{ i.selected_by_percent }}</td>
                                <td class="text-right">{{ last_gw_data[i.id] }}</td>
                                <td class="text-right">{{ getWithSign(parseFloat(i.selected_by_percent) - parseFloat(last_gw_data[i.id])) }}</td>
                                <td class="text-right">{{ parseFloat(sample_last_gw[i.id]).toFixed(2) }}</td>
                                <td class="text-right">{{ (sample_estimated[i.id]).toFixed(2) }}</td>
                                <td class="text-center">{{ element_type[i.element_type].short }}</td>
                                <td class="text-right">{{ parseInt(i.now_cost)/10 }}</td>
                                <td class="text-right">{{ i.id }}</td> -->
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-block mx-auto" id="loading_box" v-else>
                        Loading data... Please wait...
                        <img class="mx-auto d-block" src="static/images/loading.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card card-field border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">Plots</h5>
                <!-- <div class="scenario_detail">FPL Analytics League is generated using <a href="https://fplreview.com/season-review/">fplreview.com season review</a> tool. DM on Twitter to add your team ID to the list.</div> -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mx-auto d-block text-center">FPL Points vs MD Points</div>
                            <div id="md_vs_fpl_graph" class="points_graph">

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mx-auto d-block text-center">FPL Points vs IO Points</div>
                            <div id="io_vs_fpl_graph" class="points_graph">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</main>

 </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.js" integrity="sha512-M17tsaj3tHw5m/gI+8XjDLTuPZ0cpTofhFLJUT9niFa/DK8WAhsSLW764iSaaXoAoivXEFUP6VxvpiahJPQ4fg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>

<!-- <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script> -->

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.3"></script>


<script>
    let repo_name = "fpl_optimized"
    let season = "2020-21";
    let gw = "GW19";
    let next_gw = "GW19";
    let date = "2021-01-13";
    let lastupdate = "2021-01-14T04:28:57.805809+00:00";
    let listdates = [
        "2020-21 / GW19 / 2021-01-13 ", 
        "2020-21 / GW18 / 2021-01-12 ", 
        "2020-21 / GW18 / 2021-01-11 ", 
        "2020-21 / GW18 / 2021-01-10 ", 
        "2020-21 / GW18 / 2021-01-09 ", 
        "2020-21 / GW18 / 2021-01-08 ", 
        "2020-21 / GW18 / 2021-01-07 ", 
        "2020-21 / GW18 / 2021-01-06 ", 
        "2020-21 / GW18 / 2021-01-05 ", 
    ];
    let is_active = false ;
    let active_gw = -1 ;
</script>

<script src="/fpl_optimized/static/js/main.js"></script>

<script src="/fpl_optimized/static/js/fpl_analytics_league.js"></script>

</body>

<div class="mx-auto text-center d-block text-muted text-small mb-1">Last update: 2021-01-14T04:28:57.805809+00:00</div>

</html> 