<!DOCTYPE html>
<html lang="en_US">

<head>
    <title>FPL Optimized  - Load Data</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="Optimized squads for Fantasy Premier League -- everyday!" />
    <meta name="keywords" content="fantasy, football, soccer, premier league, mathematics, optimization, analytics, sports" />
    <meta name="author" content="Sertalp B. Cay (sertalpbilal@gmail.com)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/fontawesome.min.js" integrity="sha256-TMRxGf3NaZhrxTfD8y/NGiyE4UXBA3udH1l+Co8JDVU=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.3.0/d3-interpolate.js" integrity="sha512-KcUKnCgVgjA6pyyyN33d5S1IHk9hFUaldkL8BmKvqR+7q9HyZj3jmWJemF6IJuLkcj3biCNzdGgXNPJCjurXnQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" integrity="sha256-rx5u3IdaOCszi7Jb18XD9HSn8bNiEgAqWJbdBvIYYyU=" crossorigin="anonymous">
    <!-- <link href="url_for('static', filename='3rdparty/vis-timeline-graph2d.min.css')" rel="stylesheet" type="text/css" /> -->

    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.bootstrap4.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css"> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L07T8LS957"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-L07T8LS957');
    </script>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/svg.css">

    <link rel="manifest" href="/static/asset/manifest.json">
    <link rel="apple-touch-icon" href="/static/asset/apple_logo_114.png">
    <link rel="apple-touch-startup-image" href="/static/asset/apple_splash_320.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FPLOptimized">

</head>

<body>

    <div id="app">

        <header class="bg-dark-gray mb-1">
            <div class="container">
                <nav class="navbar navbar-collapse navbar-dark container-fluid pl-0 pr-0">
                    <a class="navbar-brand ml-0 ml-md-3 mr-0 mr-md-3 mr-auto flex-grow-1" href="/" aria-label="Bootstrap"><img src="/static/images/logo_128.png" height="33" /> FPL Optimized</a>
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggler" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-secondary flex-row-reverse" id="menuToggler">
                        <span class="twitter-link ml-2 float-right"><a href="https://twitter.com/sertalpbilal"></a></span>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="week.html">Optimal Squads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="live_gw.html">Live GW</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="team_summary.html">GW Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="fpl_analytics_league.html">FPL Analytics xP League</a>
                            </li>
                            <li class="nav-item no-sep">
                                <a class="nav-link" href="https://twitter.com/sertalpbilal" target=_blank><i class="fab fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </nav>
            </div>
        </header>


        <!-- <div class="mt-1 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-info alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> First time on FPL Optimized? Read a summary of tools <a target="_blank" href="https://threadreaderapp.com/thread/1391100607205941253.html">here.</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div> -->

        <!-- <div class="mt-2 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-warning alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> FPLOptimized is getting ready for the new season! Some functonalities may not work properly.</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div> -->
<!--         
        <div class="mt-2 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-success alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> FPLOptimized is ready for new season! Welcome back :)</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div> -->


        <div class="mt-2 container mb-1">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-success alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-info-circle"></i> <a href="/signup.html" >Signup for our email newsletter</a> about our upcoming FPL Tool project!</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="mt-2 container">
            <div class="row pl-3 pr-3">
                <div class="col-12 alert alert-warning alert-dismissible text-small fade show" role="alert">
                    <i class="fas fa-trophy"></i> <a href="https://footballcontentawards.com/voting" target="blank">Vote for FPL Optimized in Football Content Awards. (Fantasy Football / Organization)</a>
                    <button type="button" class="close top-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

<main class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">
                    <div class="mb-2"><i class="fas fa-upload mr-1"></i> Data Load <sup class="text-small" style="color: #fff256">Beta</sup></div>
                    <!-- date -->
                </h5>
                <div class="scenario_detail">
                    Load your own data to be used in other pages
                </div>
                <div class="card-body text-center p-3 animate-height">
                   <div>If you are subscribed to an FPL Projection source<sup>1</sup>, or have your own data<sup>2</sup>, you can load them here and use on other pages.</div>
                   <div>The data is stored on your browser.</div>
                   <div id="load_area" class="mt-3 mb-3 d-flex flex-column justify-content-center align-items-center">
                       <div><p class="d-block mb-3">Drag and Drop Your Files Here</p></div>
                       <div>
                            <input type="file" id="fileElem" class="d-none" multiple accept=".csv" onchange="handleFiles(this.files)">
                            <label class="button btn btn-secondary" for="fileElem">Select files to load</label>
                        </div>
                   </div>
                   <div class="mt-2 p-0 p-m-3 border-top" v-cloak>
                       <h5>Data Status</h5>
                       <div class="table-responsive">
                           <table class="table table-sm table-striped text-small narrow-td text-white">
                                <thead>
                                    <tr>
                                        <th>Start GW</th>
                                        <th>Horizon</th>
                                        <th>Name</th>
                                        <th v-if="window.screen.width > 800">Datetime</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="i in reverse_parsed_data">
                                        <td>{{ i.meta.start_gw }}</td>
                                        <td>{{ i.meta.horizon }}</td>
                                        <td>{{ i.meta.filename }}</td>
                                        <td v-if="window.screen.width > 800">{{ i.meta.dt }}</td>
                                        <td><span>{{ i.meta.status }}</span>
                                            <span v-if="i.meta.status == 'active'"><i class="ml-1 fas fa-check-square text-success"></i></span>
                                            <span v-if="i.meta.status == 'ready'"><i class="ml-1 fas fa-square text-warning"></i></span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary text-small" @click="activateData(i.meta.id)">Activate</button>
                                            <button class="btn btn-secondary text-small" @click="renameData(i.meta.id)">Rename</button>
                                            <button class="btn btn-danger text-small" @click="deleteData(i.meta.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                           </table>
                       </div>
                   </div>
                   <div class="p-3">
                       <div class="d-flex flex-column text-left">
                           <div class="text-gray"><sup>1</sup>Currently works with <a href="https://fplreview.com/massive-data-planner/" target="_blank">FPLReview Massive Data (Premium)</a>, and <a href="https://thefplkiwi.github.io/webpage" target="_blank">theFPLKiwi</a>.</div>
                           <div class="text-gray"><sup>2</sup>You can give the data in FPLReview format: Either sorted player list by ID, or with `ID` column and `GW_Pts` format (e.g. 34_Pts and 34_xMins)</div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="modal fade" tabindex="-1" role="dialog" id="name-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-responsive text-black">
                Would you like to give a name to this data?
                <input type="text" id="data-name-entry"  class="form-control" placeholder="e.g. FPLReview - Premium, Kiwi">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="addNameToData" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- <div class="modal fade" tabindex="-1" role="dialog" id="results-modal" v-if="data_ready">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ resultText }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-responsive text-black">
                <div class="d-flex flex-column">
                    <div class="row"><div class="col-6 text-right">Played</div><div class="col-6">{{ stat_summary.played }}</div></div>
                    <div class="row"><div class="col-6 text-right">Won</div><div class="col-6">{{ stat_summary.won_ratio }}%</div></div>
                    <div class="row"><div class="col-6 text-right">Streak</div><div class="col-6">{{ stat_summary.streak }}</div></div>
                    <div class="row"><div class="col-6 text-right">Max Streak</div><div class="col-6">{{ stat_summary.max_streak }}</div></div>
                </div>
                <div>
                    <b>Results</b>
                    <div v-for="p in _.concat(_.range(1,7), [-1])">
                        <div class="row mb-2">
                            <div class="col-1">{{ p == -1 ? "X" : p }}</div>
                            <div class="col-11">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :style="{'width': (stat_summary.score_ratios[p] || 1) + '%'}" v-bind:aria-valuenow="stat_summary.score_ratios[p] || 0" aria-valuemin="0" aria-valuemax="100">{{ stat_summary.result_counts[p] > 0 ? stat_summary.result_counts[p] : "&nbsp;" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 text-center" v-if="result !== undefined">
                    <button class="btn btn-primary" @click="showSolution">Show Solution</button>
                    <button class="btn btn-primary" @click="show_share_box = true">Share</button>
                </div>
                <div v-if="show_share_box">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Copy content below</label>
                        <textarea class="form-control" id="result_box" rows="10" readonly>{{ share_text }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


 </div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.js" integrity="sha512-M17tsaj3tHw5m/gI+8XjDLTuPZ0cpTofhFLJUT9niFa/DK8WAhsSLW764iSaaXoAoivXEFUP6VxvpiahJPQ4fg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="https://fastly.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src="https://fastly.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    Vue.config.performance = true;
    Vue.prototype.$log = console.log;
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.5/jstat.js" integrity="sha512-D5uf20+sRi7oJxHzrp6LZDaY/IrSFIKmaQ7bOQA6V1Z+Jr9DOFKodR3RyYwdeEoGUZlfz76XQlDy5/TWdyKz9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js" integrity="sha512-tVYBzEItJit9HXaWTPo8vveXlkK62LbA+wez9IgzjTmFNLMBO1BEYladBw2wnM3YURZSMUyhayPCoLtjGh84NQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://fastly.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script src="https://fastly.jsdelivr.net/npm/vue-cookies@1.7.4/vue-cookies.js" integrity="sha256-pdSyqKvUOsiAZVUhatSOyW3Wom0l7ABtO8w7LjPA3vU=" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="url_for('static', filename='3rdparty/vis-timeline-graph2d.min.js')"></script> -->

<!-- <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script> -->

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/sp-1.2.2/datatables.min.js"></script>

<script src="https://fastly.jsdelivr.net/npm/fuse.js@6.4.3"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.js" integrity="sha512-2ypsPur7qcA+2JjmmIJR1c4GWFqTLIe1naXXplraMg0aWyTOyAMpOk+QL+ULpzwrO/GdwA3qB3FhVyyiR8gdhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://fastly.jsdelivr.net/npm/fernet@0.3.1/fernetBrowser.js"></script>

<script>
    let repo_name = ""
    let season = "";
    let gw = "";
    let next_gw = "";
    let date = "";
    let lastupdate = "2024-10-03T10:19:10.006500+00:00";
    let listdates = [
    ];
    let is_active = false ;
    let active_gw = -1 ;
</script>


<script src="/static/js/main.js?ts=20241003101910"></script>

<script src="/static/js/load.js?ts=20241003101910"></script>


<script>
    $('.alert').alert()
</script>

</body>

<!-- <div class="text-muted text-center mx-auto text-small mb-1 c-footnote">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<div class="mx-auto text-center d-block text-muted text-small mb-1">Last update: 2024-10-03T10:19:10.006500+00:00</div>

</html> 