"% include 'header.html' %"



<main class="container pt-3">

    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">
                <div class="card-body text-center p-3">
                    <span>FPL Optimized brings you optimal squads for the upcoming gameweeks with daily predictions. Expected points (xP) are provided by <a href="https://fplreview.com/">FPL Review</a>.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12 mb-0-lg mb-3">
            <div class="card card-field border-dark bg-squad-card text-white index-option">
                <h5 class="card-header border-complement text-center scenario_title">Optimal Squads</h5>
                <div class="card-body field-body">
                    <div class="d-flex mx-auto justify-content-center p-4 text-center">
                        <span>6 different objectives is optimized with daily expected points for the upcoming GW.</span>
                    </div>
                    <a href="week.html" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mb-0-lg mb-3">
            <div class="card card-field border-dark bg-squad-card text-white index-option">
                <h5 class="card-header border-complement text-center scenario_title">Top 50 Squads</h5>
                <div class="card-body field-body">
                    <div class="d-flex mx-auto justify-content-center p-4 text-center">
                        <span>An interactive list of 50 optimal squads obtained using iterative optimization to analyze and compare.</span>
                    </div>
                    <a href="top_squads.html" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12 mb-0-lg mb-3">
            <div class="card card-field border-dark bg-squad-card text-white index-option">
                <h5 class="card-header border-complement text-center scenario_title">Team Summary</h5>
                <div class="card-body field-body">
                    <div class="d-flex mx-auto justify-content-center p-4 text-center">
                        <span>A comparison of expected and realized points before and after GW for given team ID.</span>
                    </div>
                    <a href="team_summary.html" class="stretched-link"></a>
                </div>
            </div>
        </div>

    </div>

</main>

"% include 'footer.html' %"