"% include 'header.html' %"



<main class="container pt-3">

    <div class="row">


        <div class="col-12 col-md-4 mb-3">
            <div class="card card-field border-dark bg-squad-card text-white" id="tools-column">
                <div class="card-header border-complement text-center scenario_title">Tools</div>
                <div class="card-body p-2">

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-puzzle-piece"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Optimal Squads</h5>
                                    <p class="card-text">6 different optimal squads with daily forecasts.</p>
                                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                </div>
                            </div>
                            <a href="week.html" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-chart-line"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Live GW</h5>
                                    <p class="card-text">Expected and actual points with live tracking.</p>
                                </div>
                            </div>
                            <a href="live_gw.html" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-project-diagram"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Gameweek Summary</h5>
                                    <p class="card-text">Expected and actual point comparison with a focus on players.</p>
                                </div>
                            </div>
                            <a href="team_summary.html" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-medal"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">FPL Analytics League</h5>
                                    <p class="card-text">Comparison of data and analytics focused FPL managers.</p>
                                </div>
                            </div>
                            <a href="fpl_analytics_league.html" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-chart-bar"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Ownership Trends</h5>
                                    <p class="card-text">Ownership data between last GW and last update.</p>
                                </div>
                            </div>
                            <a href="ownership_trend.html" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">

            <div class="card card-field border-dark bg-squad-card text-white" id="blog-column">
                <div class="card-header border-complement text-center scenario_title">Blog Posts</div>
                <div class="card-body p-2">

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog1.jpg') **" />
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Effective Ownership and Multiobjective Optimization</h5>
                                    <p class="card-text">Why do we optimize for points? Does so-called "EO" matter at all?</p>
                                </div>
                            </div>
                            <a href="https://alpscode.com/blog/optimal-in-fpl/" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog2.jpg') **" />
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">O-Ring Optimization</h5>
                                    <p class="card-text">How to use optimization for having a balanced team</p>
                                </div>
                            </div>
                            <a href="https://alpscode.com/blog/o-ring-optimization/" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog3.jpg') **" />
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">On Ownership Ratios</h5>
                                    <p class="card-text">Role of ownership ratios in FPL data and how to exploit it. Can algorithms learn from FPL managers?</p>
                                </div>
                            </div>
                            <a href="https://alpscode.com/blog/fpl-ownership-weight/" class="stretched-link"></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>



        <div class="col-12 col-md-4 mb-3">

            <div class="card card-field border-dark bg-squad-card text-white" id="resource-column">
                <div class="card-header border-complement text-center scenario_title">Resources</div>
                <div class="card-body p-2">

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <img class="card-img link-img w-100" src="** url_for('static', filename='images/repo.jpg') **" />
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">GitHub Repository</h5>
                                    <p class="card-text">Optimization codes for FPL using Python and sasoptpy using open-source solvers.</p>
                                </div>
                            </div>
                            <a href="https://github.com/sertalpbilal/fpl_optimized" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-code"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">FPL API Endpoints</h5>
                                    <p class="card-text">A list of all available endpoints that Official FPL API provides.</p>
                                </div>
                            </div>
                            <a href="https://cheatography.com/sertalpbilal/cheat-sheets/fpl-api-endpoints/" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <img class="card-img link-img w-100" src="** url_for('static', filename='images/youtube_1.jpg') **" />
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Optimization for FPL with OpenSolver</h5>
                                    <p class="card-text">An introductory tutorial to using OpenSolver on MS Excel to optimize your FPL decisions</p>
                                </div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=4oWH3aOsjNI" class="stretched-link"></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>






</main>

"% include 'footer.html' %"