"% include 'header.html' %"

<!-- <meta http-equiv="refresh" content="0; url=/signup.html" /> -->

<main class="container">

    <div class="row no-gutters justify-content-center" id="homepage">


        <div class="col-12 col-lg-9 mb-1">
            <div class="card card-field border-dark bg-squad-card text-white" id="tools-column">
                <div class="card-header border-complement text-center scenario_title">Tools</div>
                <div class="card-body p-2 row">


                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option"> 
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-chart-line"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Live Gameweek Tracker</h5>
                                        <p class="card-text">Expected and actual points with live tracking.</p>
                                    </div>
                                </div>
                                <a href="live_gw.html" class="stretched-link"></a>
                                <!-- <a href="#" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-project-diagram"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Gameweek Expectation</h5>
                                        <p class="card-text">Expected and actual point comparison with a focus on players.</p>
                                    </div>
                                </div>
                                <!-- <a href="#" class="stretched-link"></a> -->
                                <a href="team_summary.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-car-crash"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Impact Summary</h5>
                                    <p class="card-text">Player and team impacts on your FPL season.</p>
                                </div>
                            </div>
                            <a href="impact_summary.html" class="stretched-link"></a>
                        </div>
                    </div> -->

                    

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-dice-d20"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Simulated Scenarios</h5>
                                        <p class="card-text">Simulations for next GW using the latest projections</p>
                                    </div>
                                </div>
                                <!-- <a href="#" class="stretched-link"></a> -->
                                <a href="scenarios.html?sorted=1&team=91,3,311,495,17,181,199,328,366,401,453,201,129,116,291&cap=401&vicecap=328" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-binoculars"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Season Highlights</h5>
                                        <p class="card-text">An overlook of your entire season and top players</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="highlights.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    
                    

                    <!-- <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-chart-bar"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Ownership Trends</h5>
                                    <p class="card-text">Ownership data between last GW and last update.</p>
                                </div>
                            </div>
                            <a href="ownership_trend.html" class="stretched-link"></a>
                        </div>
                    </div> -->

                    <!-- <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-ghost"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Spirit Team</h5>
                                        <p class="card-text">Which EPL team resembles your FPL journey the most?</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <a href="spirit_team.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-calculator"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Expected Point Calculator</h5>
                                        <p class="card-text">Expected points distribution calculator</p>
                                    </div>
                                </div>
                                <!-- <a href="#" class="stretched-link"></a> -->
                                <a href="calculator.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    

                    <!-- <div class="card mb-2" style="max-width: 540px;">
                        <div class="row no-gutters index-card index-option">
                            <div class="col-4 text-center my-auto">
                                <i class="link-img fas fa-running"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-body p-2">
                                    <h5 class="card-title">Manager Form</h5>
                                    <p class="card-text">Measuring your recent performance to find out your form</p>
                                </div>
                            </div>
                            <a href="manager_form.html" class="stretched-link"></a>
                        </div>
                    </div> -->

                    

                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3 mb-1">
            <!-- https://fploptimized.transistor.fm/subscribe -->
            <div class="card card-field border-dark bg-squad-card text-white ml-1 h-100" id="data-column">
                <div class="card-header border-complement text-center scenario_title">Podcast 🎙</div>
                <div class="card-body p-2 row" style="position: relative; min-height: 200px;">

                    <div class="col-12 mb-1 vertically-aligned w-100 h-100" >
                        <div class="text-center" style="width:90%; height: 90%;">
                            <img src="/static/images/logo_400_tr.png" style="margin-top: 4px; max-width:100%; max-height:100%">
                            <!-- <a href="#" class="stretched-link"></a> -->
                            <a href="https://fploptimized.transistor.fm/subscribe" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-1">
            <div class="card card-field border-dark bg-squad-card text-white" id="data-column">
                <div class="card-header border-complement text-center scenario_title">Data</div>
                <div class="card-body p-2 row">

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img far fa-calendar-alt"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Fixture</h5>
                                        <p class="card-text">Details and visualization of FPL fixture data.</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="fpl_fixture.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-question"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Who Played?</h5>
                                        <p class="card-text">Previous gameweeks minutes played information</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="who_played.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-percent"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Ownership Rates</h5>
                                        <p class="card-text">Last GW ownership rates of every player with FPL trends</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="ownership_rates.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-list-ol"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Optimal Squads</h5>
                                        <p class="card-text">6 different optimal squads with daily forecasts.</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="week.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-upload"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Data Load <sup class="text-small" style="color: #fff256">Beta</sup></h5>
                                        <p class="card-text">Load your own data to be used in other pages.</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="load.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 mb-1">
            <div class="card card-field border-dark bg-squad-card text-white" id="misc-column">
                <div class="card-header border-complement text-center scenario_title">Misc</div>
                <div class="card-body p-2 row">
                
                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option disabled-card">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-medal"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Analytics League</h5>
                                        <p class="card-text">Comparison of data and analytics focused FPL managers.</p>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                                <!-- <a href="analytics_league.html" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-puzzle-piece"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">FPL Puzzle</h5>
                                        <!-- <sup style="color: #fff256">New!</sup> -->
                                        <p class="card-text">Daily FPL puzzles using historical data!</p>
                                    </div>
                                </div>
                                <a href="puzzle.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-12 mb-1">

            <div class="card card-field border-dark bg-squad-card text-white" id="blog-column">
                <div class="card-header border-complement text-center scenario_title">Blog Posts</div>
                <div class="card-body p-2 row">

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog6.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">A Friendly Introduction to FPL Analytics</h5>
                                        <p class="card-text">Basics of analytical concepts for FPL</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/intro-to-fpl-analytics/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog5.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Reflections from my first FPL season</h5>
                                        <p class="card-text">An overview of my first season</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/fpl-reflections/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog4.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Hindsight Optimization</h5>
                                        <p class="card-text">Optimizing entire 2019-2020 season using hindsight values</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/hindsight-optimization/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog1.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Effective Ownership and Multiobjective Optimization</h5>
                                        <p class="card-text">Why do we optimize for points?</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/optimal-in-fpl/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog2.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">O-Ring Optimization</h5>
                                        <p class="card-text">How to use optimization for having a balanced team</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/o-ring-optimization/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/blog3.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">On Ownership Ratios</h5>
                                        <p class="card-text">Role of ownership ratios in FPL data and how to exploit it. Can algorithms learn from FPL managers?</p>
                                    </div>
                                </div>
                                <a href="https://alpscode.com/blog/fpl-ownership-weight/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    



                    

                </div>
            </div>

        </div>



        <div class="col-12 mb-1">

            <div class="card card-field border-dark bg-squad-card text-white" id="resource-column">
                <div class="card-header border-complement text-center scenario_title">Resources</div>
                <div class="card-body p-2 row">


                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option-plain flex-grow-1">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/youtube_1.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Optimization for FPL with <span class="text-blue">Python</span> and <span class="text-yellow">sasoptpy</span></h5>
                                        <div class="list-group">
                                            <a href="https://youtu.be/DFXCXoR6Dvw" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.1: Intro & GK Problem</a>
                                            <a href="https://youtu.be/JceM_YUFHtk" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.2: Single-period FPL Problem</a>
                                            <a href="https://youtu.be/Prv8M7hE3vk" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.3: Multi-period FPL Problem</a>
                                            <a href="https://youtu.be/4_ac7qEcts0" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.4: Alternative Solns and Multi-Obj Optimization</a>
                                            <a href="https://youtu.be/LTkHBn3jHoU" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.5: Bench decisions</a>
                                            <a href="https://youtu.be/CF9IH0UyLiM" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.6: Auto-bench weights</a>
                                            <a href="https://youtu.be/qJh3hRcM_7g" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.7: Noise in EV and Sensitivity Analysis</a>
                                            <a href="https://youtu.be/w47baOXRhq4" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.8: Data with FPL Login and Wildcard Prep</a>
                                            <a href="https://youtu.be/4PNcDUoRQOE" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.9: Wildcard Optimization</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option-plain flex-grow-1">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/youtube_1.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Optimization for FPL with <span class="text-green">Excel</span> and <span class="text-red">OpenSolver</span></h5>
                                        <div class="list-group">
                                            <a href="https://youtu.be/4oWH3aOsjNI" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.1: Intro & GK Problem</a>
                                            <a href="https://youtu.be/yKx_C-Nwwes" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.2: Single-period FPL Problem</a>
                                            <a href="https://youtu.be/MHZEUlHNR3k" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Ep.3: Multi-period FPL Problem</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card mt-1" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option flex-grow-1">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/repo.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">FPL Optimization Tools</h5>
                                        <p class="card-text">Source code of all tutorials and ready-to-use scripts.</p>
                                    </div>
                                </div>
                                <a href="https://github.com/sertalpbilal/FPL-Optimization-Tools" class="stretched-link"></a>
                            </div>
                        </div>

                        <div class="card mt-1" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option flex-grow-1">
                                <div class="col-4 text-center my-auto">
                                    <img class="card-img link-img w-100" src="** url_for('static', filename='images/repo.jpg') **" />
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">FPLOptimized GitHub Repo</h5>
                                        <p class="card-text">Source code of this website and automated GitHub actions.</p>
                                    </div>
                                </div>
                                <a href="https://github.com/sertalpbilal/fpl_optimized" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    
                
                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option flex-grow-1">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-code"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">FPL API Endpoints</h5>
                                        <p class="card-text">A list of all available endpoints that Official FPL API provides.</p>
                                    </div>
                                </div>
                                <a href="https://cheatography.com/sertalpbilal/cheat-sheets/fpl-api-endpoints/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>

        </div>

        <div class="col-12 mb-1">
            <div class="card card-field border-dark bg-squad-card text-white" id="tools-column">
                <div class="card-header border-complement text-center scenario_title">Links</div>
                <div class="card-body p-2 row">

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option-plain">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-globe-europe"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">FPL Tools / Reference</h5>
                                        <div class="list-group">
                                            <a href="https://fplreview.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPLReview</a>
                                            <a href="https://fantasyfootballhub.co.uk/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Fantasy Football Hub</a>
                                            <a href="https://www.fantasyfootballscout.co.uk/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FantasyFootballScout</a>
                                            <a href="https://www.livefpl.net/rank" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">LiveFPL</a>
                                            <a href="https://www.fplgameweek.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPLGameweek</a>
                                            <a href="https://www.fplbot.app/search" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPLBot Search</a>
                                            <a href="https://www.premierfantasytools.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Premier Fantasy Tools</a>
                                            <a href="https://www.fplanalytics.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPL Analytics</a>
                                            <a href="https://www.anewpla.net/fpl/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPL Tools</a>
                                            <a href="https://jumpersforgoalposts.info" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Jumpers for Goalposts</a>
                                            <a href="https://livefpltables.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Live FPL Tables</a>
                                            <a href="https://fpl.team/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPL.team Planner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card mb-2" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option-plain">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-microphone-alt"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Podcasts/Media</h5>
                                        <div class="list-group">
                                            <a href="https://plinkhq.com/i/1623503791?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FPL Optimized</a>
                                            <a href="https://plinkhq.com/i/1526017149?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Above Average FPL</a>
                                            <a href="https://plinkhq.com/i/1032157163?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Always Cheating</a>
                                            <a href="https://anchor.fm/corridor-of-uncertainty/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Corridor of Uncertainty</a>
                                            <a href="https://plinkhq.com/i/1121866859?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Double Pivot</a>
                                            <a href="https://plinkhq.com/i/1522157387?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">The Football Fanalytics Podcast</a>
                                            <a href="https://plinkhq.com/i/1244718735?to=page" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Who Got The Assist?</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-1">
                        <div class="card" style="max-width: 540px;">
                            <div class="row no-gutters index-card index-option-plain">
                                <div class="col-4 text-center my-auto">
                                    <i class="link-img fas fa-database"></i>
                                </div>
                                <div class="col-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Data Sources</h5>
                                        <div class="list-group">
                                            <a href="https://fbref.com/en/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">fbref</a>
                                            <a href="https://www.whoscored.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">WhoScored</a>
                                            <a href="https://github.com/statsbomb/open-data" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">StatsBomb</a>
                                            <a href="https://understat.com/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">Understat</a>
                                            <a href="https://projects.fivethirtyeight.com/soccer-predictions/premier-league/" class="p-1 list-group-item list-group-item-action list-group-item-secondary" target="_blank">FiveThirtyEight PL</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    

                </div>
            </div>
        </div>




    </div>


    <!-- <h2>Useful Links</h2>
    <ul>
        <li>https://www.fplbot.app/search</li>
    </ul> -->



</main>

"% include 'footer.html' %"