"% include 'header.html' %"


<main class="container">

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card card-field border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">Ownership Trends</h5>
                <!-- <div class="scenario_detail">Status of the selection using the data available before the deadline.</div> -->
                <div class="card-body">

                    <div id="ownership_graph" class="mb-3 mx-auto">

                    </div>

                    <table id="trend_table" class="table table-striped table-borderless table-sm text-white text-small w-100" v-if="is_fully_ready" v-cloak>
                        <thead>
                            <tr>
                                <th colspan=2></th>
                                <th colspan=3 class="text-center bottom-gap-bordered">FPL API</th>
                                <th colspan=2 class="text-center bottom-gap-bordered">Sample - Top 1K</th>
                                <th colspan=3></th>
                            </tr>
                            <tr class="midrule">
                                <th>Name</th>
                                <th>Team</th>
                                <th class="text-right">Now</th>
                                <th class="text-right">Last GW</th>
                                <th class="text-right">Trend</th>
                                <th class="text-right">Last GW</th>
                                <th class="text-right">Estimated</th>
                                <th class="text-center">Pos</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="i in element_now.values">
                                <td>{{ i.web_name }}</td>
                                <td>{{ team_codes[i.team_code].short }}</td>
                                <td class="text-right">{{ i.selected_by_percent }}</td>
                                <td class="text-right">{{ last_gw_data[i.id] }}</td>
                                <td class="text-right">{{ getWithSign(parseFloat(i.selected_by_percent) - parseFloat(last_gw_data[i.id])) }}</td>
                                <td class="text-right">{{ parseFloat(sample_last_gw[i.id]).toFixed(2) }}</td>
                                <td class="text-right">{{ (sample_estimated[i.id]).toFixed(2) }}</td>
                                <td class="text-center">{{ element_type[i.element_type].short }}</td>
                                <td class="text-right">{{ parseInt(i.now_cost)/10 }}</td>
                                <td class="text-right">{{ i.id }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-block mx-auto" id="loading_box">
                        Loading data... Please wait...
                        <img class="mx-auto d-block" src="static/images/loading.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

"% with scripts=["main", "ownership_trend"] %" "% include 'footer.html' %" "% endwith %"