<!DOCTYPE html>
<html lang="en_US">

<head>
    <title>The Super Secret FPL Tool Newsletter</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="description" content="The Super Secret FPL Tool Newsletter" />
    <meta name="keywords" content="fantasy, football, soccer, premier league, mathematics, optimization, analytics, sports" />
    <meta name="author" content="Sertalp B. Cay (sertalpbilal@gmail.com)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="refresh" content="0; url=https://fpl-optimized.beehiiv.com/subscribe" />

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L07T8LS957"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-L07T8LS957');
    </script>

  <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    

</head>

<body style="background-color: #343436">

<div class="d-flex justify-content-center w-100 h-100 pt-5" style="color: white; font-size: 20pt;">
  <a style="color:white" href="https://fpl-optimized.beehiiv.com/subscribe">https://fpl-optimized.beehiiv.com/subscribe</a>
</div>

</body>

</html>