"% include 'header.html' %"



<main class="container">

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card card-field border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">Spirit Team</h5>
                <div class="scenario_detail">
                    Playing FPL and wondering which team resembles your performance the most?
                </div>
                <div class="card-body" v-cloak>

                    <div class="row">
                        <div class="input-group mb-3 col-md-4 offset-md-4 col-12">
                            <input class="form-control" placeholder="Team ID" aria-label="Team ID" id="teamID_input" type="number" v-on:keyup="submitTeam">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" @click="enterTeam">Enter</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 offset-md-4 col-12 spirit-team-display" v-if="fpl_id != -1 && spirit_team != undefined">
                            <div>
                                <div class="text-center">Your Spirit Team: {{ spirit_team[0].club }}</div>
                                <div class="club-logo text-center"><img :src="'/static/images/clubs/' + spirit_team[0].short + '.png'" /></div>
                                <div class="text-center">Match Ratio (R-Squared): {{ (spirit_team[0].r.final_r2*100).toFixed(0) }}%</div>
                                <div class="text-center text-small text-muted">{{ spirit_team[0].r.string }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center" id="canvas">

                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="row col-md-6 offset-md-3 col-12 text-center mx-auto" v-if="fpl_id != -1 && spirit_team != undefined">
                            <div class="col-6" v-cloak>
                                <div class="d-flex flex-column metric">
                                    <div class="text-center p-0">
                                        <div class="legend-box text-center">
                                            <svg width="20" height="10"><g>
                                            <line id="svg_1" y2="5" x2="20" y1="5" x1="0" stroke-width="1.5" stroke="#3BB9E2" stroke-dasharray="4,0.4" fill="none"></line>
                                        </g></svg> User Rank
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" v-cloak>
                                <div class="d-flex flex-column metric">
                                    <div class="text-center p-0">
                                        <div class="legend-box text-center">
                                            <svg width="20" height="10"><g>
                                            <line id="svg_1" y2="5" x2="20" y1="5" x1="0" stroke-width="1.5" stroke="#A6CE51" stroke-dasharray="4,0.4"  fill="none"></line>
                                        </g></svg> Team Position
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" v-if="!_.isEmpty(spirit_team)">
                        <div class="col-12 col-md-4">
                            <template v-for="s in [spirit_team[0]]">
                                <table class="table text-white table-striped text-small">
                                    <thead>
                                        <th class="text-center">GW</th>
                                        <th class="text-center">Your Rank</th>
                                        <th class="text-center">{{ s.club }} Rank</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="w in _.range(s.team_rank.length)">
                                            <td class="text-center">GW{{ w+1 }}</td>
                                            <td class="text-center">
                                                <span>{{ s.user_hist[w] }}</span>
                                                <i class="fas fa-caret-up" style="color: #00d900" v-if="w>0 && s.user_hist[w] < s.user_hist[w-1]"></i>
                                                <i class="fas fa-caret-down" style="color: #ff005a" v-if="w>0 && s.user_hist[w] > s.user_hist[w-1]"></i>
                                                <i class="fas fa-minus" style="color: #94968c" v-if="w>0 && s.user_hist[w] == s.user_hist[w-1]"></i>
                                            </td>
                                            <td class="text-center">
                                                <span>{{ s.team_rank[w] }}</span>
                                                <i class="fas fa-caret-up" style="color: #00d900" v-if="w>0 && s.team_rank[w] < s.team_rank[w-1]"></i>
                                                <i class="fas fa-caret-down" style="color: #ff005a" v-if="w>0 && s.team_rank[w] > s.team_rank[w-1]"></i>
                                                <i class="fas fa-minus" style="color: #94968c" v-if="w>0 && s.team_rank[w] == s.team_rank[w-1]"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 offset-md-4 col-12" v-if="fpl_id != -1 && spirit_team != undefined">
                            <b>All Matches</b>
                            <table class="table table-sm text-white table-striped text-small">
                                <tr>
                                    <th>Team</th>
                                    <th class="text-center">Match (R2)</th>
                                </tr>
                                <tr v-for="s in spirit_team">
                                    <td>{{ s.club }}</td>
                                    <td class="text-center">{{ (s.r.final_r2*100).toFixed(0) }}%</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.min.js" integrity="sha512-0k6FXllQktdobw8Nc8KQN2WtZrOuxpMn7jC2RKCF6LR7EdOhhrg3H5cBPxhs3CFzQVlO6ni1B9SDLUPhBs0Alg==" crossorigin="anonymous"></script>

"% with scripts=["main", "spirit_team"] %" "% include 'footer.html' %" "% endwith %"