"% include 'header.html' %"

<main class="container" v-cloak>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card border-dark bg-squad-card text-white">
                <h5 class="card-header border-complement text-center scenario_title">Test Page</h5>
                <div class="card-body" v-cloak>

                    <p>Test Page!</p>
                    <p>{{ sample_data }}</p>
                    <p><button @click="test_ac" class="btn btn-primary btn-sm text-small">Test AC</button></p>
                    <p>{{ data_ac }}</p>
                    <p><button @click="test_fo" class="btn btn-primary btn-sm text-small">Test FO</button></p>
                    <p>{{ data_fo }}</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row" v-cloak>
        <div class="col-12 mb-3">
            <div class="card border-dark bg-squad-card text-white qa">
                <div class="card-footer text-white disclaimer">
                    The information contained on this website is for general information purposes only. Any reliance you place on this information is strictly at your own risk.
                </div>
            </div>
        </div>
    </div>

</main>

"% with scripts=["main", "test"] %" "% include 'footer.html' %" "% endwith %"