*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #343436;
    color: lightgray;
}

.table td,
.table th {
    vertical-align: middle;
}

[v-cloak] {
    display: none;
}

[v-cloak]>* {
    display: none;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.text-xxl {
    font-size: xx-large;
}

.bg-dark-gray {
    background-color: #272729;
}

.bg-light-gray {
    background-color: #343436;
}

.bg-gray-3 {
    background-color: #6b6b6b;
}

.bg-squad-card {
    background-color: #474747;
}

.border-complement {
    border-color: #B81636;
}

.border-field {
    border-color: #394709;
}

#captain_star,
.jersey-captain-star {
    fill: rgb(91, 182, 152) !important;
    /* stroke-width: 0px !important; */
    stroke: rgb(0, 114, 108) !important;
}

.card-field,
.card-field>.card-header {
    font-size: 13pt;
}

.field-body {
    padding: 0px;
}

.field-body>.field {
    width: 100%;
    opacity: 0.6;
}

svg.field {
    /* width: 100%; */
    width: 425px;
    height: 547px;
}

svg.field>g>* {
    stroke: dimgray !important;
}

.g_jersey>*,
.g_jersey>*>* {
    stroke: dimgray !important;
    fill: gainsboro !important;
}

#player_name_bg {
    fill: aquamarine !important;
    fill-opacity: 1 !important;
}

#player_name {
    fill: white !important;
}

#player_name>tspan {
    font-size: 2.8px !important;
}

#player_team_bg {
    fill: white !important;
    fill-opacity: 1 !important;
    opacity: 0.9 !important;
}

#player_team {
    fill: #a10a28 !important;
}

.jersey_bench>#jersey_bg,
.jersey_bench>path {
    fill: rgb(170, 170, 170) !important;
}

.metric {
    margin-left: 1px;
    margin-right: 1px;
    font-size: 10pt;
}

@media screen and (max-width: 480px) {
    .metric {
        font-size: 9pt;
    }
    .text-xs-mini {
        font-size: x-small;
    }
}

.metric.highlighted {
    color: orange;
}

.metric_title {
    background-color: #00000080;
}

.metric_value {
    background-color: rgba(127, 255, 212, 0.116);
}


/* 
.scenario_title {
    position: relative;
} */

.scenario_title>.smallprint {
    font-size: 7pt;
}


/* 
.scenario_title:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    background-color: black;
    color: white;
    z-index: 1;
} */

main a {
    color: #c47b89;
}

main a:hover {
    color: #5bbbb6;
}

.scenario_detail {
    font-size: small;
    text-align: center;
    color: rgb(197, 197, 197);
}

.disclaimer {
    font-size: small;
    color: gray !important;
}

@media screen and (max-width: 480px) {
    .scenario_detail {
        font-size: x-small;
    }
    .qa {
        font-size: x-small;
    }
    .disclaimer {
        font-size: x-small;
    }
}

.answer {
    color: rgb(187, 187, 187);
}

.date-line {
    color: #c47b89;
    cursor: pointer;
    justify-content: center;
}

.date-line:hover {
    color: #5bbbb6;
}


/* select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
}

select::-ms-expand {
    display: none;
} */

h5.modal-title {
    color: black;
}

.col-metric {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.col-top-settings {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

span.twitter-link {
    display: block;
    float: left;
}

.twitter-link>a {
    color: #c47b89;
}

.twitter-link>a:hover {
    color: #5bbbb6;
}

.index-option-plain {
    border: 1px solid rgb(131, 131, 131) !important;
}

.index-option {
    transition: border linear 0.4s;
    border: 1px solid rgb(131, 131, 131) !important;
    transition: background-color linear 0.4s;
}

.index-option:hover {
    border: 1px solid aquamarine !important;
    background-color: black;
}

.squad-btn {}

.ptype-1 {
    background-color: rgb(50, 71, 50);
}

.ptype-2 {
    background-color: rgb(45, 45, 66);
}

.ptype-3 {
    background-color: rgb(63, 43, 43);
}

.ptype-4 {
    background-color: rgb(68, 61, 48);
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0) !important;
}


/* Datatables fixes */


/* 
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #ffffff;
}

.dataTables_wrapper select,
.dataTables_wrapper input {
    color: #ffffff;
    background-color: #343436 !important;
}

.dataTables_wrapper select option.dtsb-option {
    background-color: #343436 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #585858 !important;
} */

.dtsb-searchBuilder button {
    color: white !important;
    background: #585858 !important;
}

div.dtsb-searchBuilder button.dtsb-button:hover {
    color: white !important;
    background: #343436 !important;
}

.squad-names-table {
    cursor: pointer;
    border: 1px solid #000;
    color: #fff;
    padding: .25rem .5rem;
    /* font-size: .875rem; */
    line-height: 1.5;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    white-space: nowrap;
}

.squad-names-table:hover {
    color: rgb(212, 212, 212);
    background-color: #343436;
    border-color: #fff;
}

@media screen and (max-width: 480px) {
    .table-responsive {
        font-size: x-small !important;
    }
    .squad-names-table {
        font-size: xx-small;
        padding: .125rem .25rem;
    }
}

.wait-modal {
    color: #000;
}

.plot {
    font-family: Trebuchet MS;
}

.dark-plot text {
    fill: white;
}

.dark-plot path,
.dark-plot line {
    stroke: white;
}

.m-data-table td,
.m-data-table th {
    padding: .2rem;
}

.owned-row {
    background-color: #6fcfd62b;
}

.table-striped tbody tr:nth-of-type(odd).owned-row {
    background-color: #6fcfd612;
}

.bench-row {
    background-color: #c4a9d62b;
}

.table-striped tbody tr:nth-of-type(odd).bench-row {
    background-color: #c4a9d612;
}

.nonowned-row {
    background-color: #de63632b;
}

.table-striped tbody tr:nth-of-type(odd).nonowned-row {
    background-color: #de636312;
}

.text-black {
    color: black;
}

.own-color {
    color: #6fcfd6;
}

.danger-color {
    color: #de6363;
}

.shrink-table {
    width: auto;
}

.important-value {
    color: #f9e86d;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dbdddf;
}

.btn-in-modal {
    padding: .1rem .4rem;
    font-size: small;
}


/* All players table styles */

div.dataTables_wrapper div.dataTables_filter#all_players_table_filter input {
    width: 7rem;
    color: gray;
}

#all_players_table_info {
    display: none;
}

#all_players_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

#all_players_table .marked-in,
#transfer_squad_table .marked-out {
    background-color: rgb(231, 231, 187);
}

.bottom-gap-bordered {
    position: relative;
}

.bottom-gap-bordered:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0.2rem;
    right: 0.2rem;
    border-bottom: solid white 1px;
}

#trend_table .sorting:before,
#trend_table .sorting_asc:before,
#trend_table .sorting_desc:before,
#trend_table .sorting:after,
#trend_table .sorting_asc:after,
#trend_table .sorting_desc:after {
    top: auto !important;
}


/* .midrule td,
.midrule th:not(.bottom-gap-bordered) {
    border-bottom: 1px solid white !important;
} */


/* Trend table format */

#trend_table_wrapper div.dataTables_scrollBody {
    background: transparent !important;
}

#trend_table_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: #474747 !important;
}

#trend_table_wrapper .table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a !important;
}

#trend_table_wrapper table.DTFC_Cloned tr {
    background-color: #474747 !important;
}

#trend_table_wrapper div.dataTables_processing {
    color: black;
}


/* 
#trend_table_wrapper .dt-buttons.btn-group.flex-wrap {
    position: absolute;
} */

.captain_color {
    color: orange;
}


/* FPL Analytics table format */

#fpl_analytics_table_wrapper div.dataTables_scrollBody {
    background: transparent !important;
}

#fpl_analytics_table_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: #474747 !important;
}

#fpl_analytics_table_wrapper .table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a !important;
}

#fpl_analytics_table_wrapper table.DTFC_Cloned tr {
    background-color: #474747 !important;
}

#fpl_analytics_table_wrapper div.dataTables_processing {
    color: black;
}

#fpl_analytics_table_wrapper a,
#fpl_analytics_table a {
    color: #c6e5ff;
}

#customInputTable,
#customInputTable input,
#customInputTable span {
    /* font-size: smaller; */
}

#customInputTable td {
    vertical-align: middle;
}

#customInputTable .input-perc {
    min-width: 85px;
}

#customInputTable .input-numeric {
    min-width: 50px;
}

.setting-value {
    background-color: rgb(227 255 246 / 12%);
    min-height: 21.18px;
}

.setting-line {
    cursor: pointer;
    justify-content: center;
    color: #caa7ad;
}

.setting-line:hover {
    color: #5bbbb6;
}

.settings-button {
    line-height: unset;
    font-size: unset;
    border: 0px;
}

.settings-button.pink {
    color: #caa7ad;
}

.settings-button:hover {
    color: #5bbbb6;
}

.popup_info_small {
    border: 1px solid #e8e8e8;
    color: black;
    padding: 10px;
}

.popup_info_small legend {
    font-size: medium !important;
    width: auto;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.player-info-title {
    background-color: #ececec;
}

.player-info-value {
    background-color: #5bbbb666;
}

.player-info-bar {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
}

.player-info-bar .input-group input {
    padding: 0px;
    height: unset;
    text-align: center;
    background-color: #ffd4db;
}

.player-info-bar .input-group-append span.input-group-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

.clickable_username {
    cursor: pointer;
}

.clickable_username:hover {
    text-decoration: underline;
    color: #5bbbb6;
}

.text-calc {
    color: rgb(0 0 0 / 25%);
    font-size: smaller;
}

@media screen and (min-width: 768px) {
    .navbar-nav li a {
        margin-left: 1rem !important;
    }
}

span.setting-value-text {
    display: block;
    margin: auto;
}

#d3-timeline {
    margin: -10px -20px 0px;
    overflow-x: auto;
}

.scrollable-x {
    overflow-x: auto;
}

button.btn.btn-sm.zoomButton {
    width: 25px;
    padding: 0px;
    margin: 2px;
}

.tooltip-inside,
.tooltip {
    pointer-events: none;
}

.legend-box {
    background-color: #343436;
}

.match-report-main tr td:first-child,
.match-report-main tr th:first-child {
    text-align: right;
}

.match-report-main tr td:nth-child(2),
.match-report-main tr th:nth-child(2) {
    text-align: center;
}

.match-report-main td {
    /* display: flex;
    align-items: center; */
}

.nav-tabs.main-blocks .nav-link {
    background-color: #5a5d5c;
    color: #caa7ad;
}

.nav-tabs.main-blocks .nav-link.active {
    background-color: #fff;
    color: black;
}

.gray-bg {
    background-color: #474747;
}

#game_table_gw_wrapper div.dataTables_scrollBody {
    background: transparent !important;
}

#game_table_gw_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: #474747 !important;
}

#game_table_gw_wrapper .table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a !important;
}

#game_table_gw_wrapper table.DTFC_Cloned tr {
    background-color: #474747 !important;
}

#game_table_gw_wrapper div.dataTables_processing {
    color: black;
}

#game_table_gw_wrapper a,
#game_table_gw_wrapper a {
    color: #c6e5ff;
}

#game_table_gw tr td:first-child {
    position: sticky;
    left: 0;
    background-color: #434343;
}

#game_table_gw tr th:first-child {
    position: sticky;
    left: 0;
    background-color: #434343;
}

.owned-player {
    font-weight: bold;
    color: #65a9ca;
}

.to_bench {
    color: mediumpurple;
}

.to_lineup {
    color: deepskyblue;
}

.modal-metric {
    background-color: rgb(243 243 243);
    min-height: 21.18px;
    color: black;
}

.modal-metric-title {
    color: black;
    background-color: #ffe1e1;
}

.btn-xsm {
    padding: .15rem 0.4rem;
    font-size: .6rem;
    border: 1px solid darkgray;
}

#all_players_table_wrapper label {
    color: black;
}

#editModalTable .selected-transfer {
    background-color: #ffe193;
}

#editModalTable .selected-transfer-button {
    background-color: #e2ffa3;
}

.nav-tabs.team-tabs .nav-link {
    background-color: white;
    border: 1px solid #bbbbbb;
    color: #c47b89;
    transition: background-color 0.15s linear;
}

.nav-tabs.team-tabs .nav-link.active {
    background-color: #474747;
    color: white;
    border: 1px #474747 solid;
}

.nav-tabs.team-tabs .nav-link:not(.active):hover {
    background-color: #dedede;
    color: #5bbbb6;
}

.autosub {
    color: #d61e1e;
}

.index-card {
    background-color: #343436;
    font-size: 0.8rem;
}

.index-card h5 {
    font-size: 0.9rem;
}

.index-card .card-title {
    margin-bottom: 0.3rem;
}

.link-img {
    font-size: xx-large;
    pointer-events: inherit;
}

#main_fixture tr td:first-child,
#main_fixture tr th:first-child {
    position: sticky;
    left: 0;
    background-color: #434343;
    z-index: 2;
}

#main_fixture {
    white-space: nowrap;
}


/* 
#main_fixture th {
    position: sticky;
    top: 0;
    z-index: 2;
} */

.active_gw_col {
    background-color: #ff9500;
    border-left: 3px solid #ff9500;
    border-right: 3px solid #ff9500;
}

.multi-gw::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ebf975;
    content: "\f005 ";
}

#main_fixture tbody tr:last-child td.active_gw_col {
    border-bottom: 3px solid #ff9500;
}

.live-select {
    background: none;
    color: white;
    font-size: calc(0.8em + 0.05vw);
}

.live-select:focus {
    background: none;
    color: white;
}

select.live-select option {
    background-color: darkgray;
    color: black;
}

#button-box .btn {
    font-size: calc(0.8em + 0.05vw);
}

.setting-line-button {
    font-size: calc(0.8em + 0.05vw);
    height: calc(1.5em + .75rem + 2px);
}


/* 
select.live-select option:active {
    border-color: gray;
    outline: none;
    background-color: red !important;
    color: white;
} */


/* option:hover,
option:focus,
option:active,
option:checked {
    background-color: red;
    color: black;
} */


/* #visualization {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
} */

#visualization {
    /* min-height: 400px; */
}

.white-theme .vis-timeline {
    border: none;
}

.white-theme .vis-time-axis .vis-text {
    color: white;
    text-align: center;
}

.white-theme .vis-labelset {
    /* display: flex; */
}

.white-theme .vis-labelset .vis-label {
    color: white;
    vertical-align: middle;
    display: flex;
}

.white-theme .vis-labelset .vis-label .vis-inner {
    margin: auto;
}

.white-theme .vis-item.vis-point .vis-item-content {
    color: white;
}

.vis-time-axis .vis-grid.vis-odd {
    background: #00000029;
}

.white-theme .vis-item.vis-background .vis-item-content {
    color: white;
}

.vis-item.vis-background.finishedgw {
    background-color: rgba(153, 153, 153, 0.521);
}

.vis-item.vis-background.activegw {
    background-color: rgba(106, 145, 150, 0.521);
}

.vis-item.vis-background.futuregw {
    background-color: rgba(145, 102, 102, 0.521);
}

.range-box .input-group-prepend {
    width: 25%;
}

.range-box .input-group-prepend label {
    width: 100%;
    overflow: hidden;
}

.c-footnote a {
    color: rgb(0, 114, 108)
}

.nvc {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.nvc-title {
    color: #b17d47;
}

.blinking-text {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-with-shadow {
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

.white-shadow {
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
}

.text-red {
    color: red;
}

.modal-table .input-group input {
    padding: 0px;
    height: unset;
    text-align: center;
    font-size: small;
}

.modal-table .input-group-append span.input-group-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pstats-table {
    max-height: 20em;
    overflow-x: auto;
    white-space: nowrap;
}


/* Styles for ownership rates */

div.dataTables_wrapper div.dataTables_filter#ownership_rates_table_filter input {
    width: 7rem;
    background-color: gray;
    color: white;
}

#ownership_rates_table_info {
    display: none;
}

#ownership_rates_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

.text-blue {
    color: deepskyblue;
}

.text-green {
    color: greenyellow;
}

.text-yellow {
    color: gold;
}

.text-red {
    color: salmon;
}

/* .banner-link {
    font-size: 8pt;
    max-width: 50px;
    margin: 2px;
}*/

.banner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    transition: background-color linear 0.2s;
}

.banner-link:hover {
    background-color: rgb(83, 83, 83);
}

.banner-link img {
    width: 60px;
    margin: 5px 20px 5px 5px;
}

.text-xs {
    font-size: x-small;
}

.text-xs select {
    font-size: x-small;
}

.alert a {
    color: #c47b89;
}

.alert-dismissible .close.top-close {
    padding: .4rem 1rem;
}

@media screen and (max-width: 480px) {
    .custom-table-responsive {
        font-size: x-small !important;
    }
}

table.dataTable.fixedHeader-floating {
    background-color: #474747;
}

.dist-icon {
    margin-right: 3px;
}

.gw_detail_number {
    display: block;
    text-align: center;
}

.gw_detail_players {
    display: block;
    text-align: center;
    font-size: 6pt;
}

@media screen and (max-width: 760px) {
    .gw_detail_players {
        font-size: 4pt;
    }
}

div.dataTables_scrollBody {
    background: none !important;
}

.highlighted-col {
    border-left: 3px solid #ff9500;
    border-right: 3px solid #ff9500;
}

th.highlighted-col {
    border-top: 3px solid #ff9500;
}


tbody tr:last-child td.highlighted-col {
    border-bottom: 3px solid #ff9500;
}

#all_picks_per_stat_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

#match_report_all tr td:first-child, #match_report_all tr th:first-child {
    position: sticky;
    left: 0;
    /* background-color: #434343; */
    background-color: white;
    padding: 0px;
    z-index: 2;
}

#match_report_all tr td {
    padding: 0.2em 0.1em;
}

.avg-formation {
    background-color: #a7bfc1;
    padding: 20px;
    font-weight: 500;
    color: #c10000;
}

#formation_analysis_sum_table tbody tr:first-child {
    background-color: #b96700;
}

#gain_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

#loss_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

.border-below-orange {
    border-bottom: 1px solid #b96700;
    margin-bottom: 3px;
}

.gain-blue {
    color: #6fcfd6;
}

.loss-red {
    color: #f88a8a; /* de6363 */
}

.highlighted-div {
    border: 1px solid #ff9500;
}

.spirit-ticks {
    font-size: 3pt;
}

.custom-control-input:checked~.custom-control-label.highlighted-checkbox::before {
    color: #fff;
    border-color: white;
    background-color: #ff9500;
}

.highlighted-text-col {
    color: #ffc779;
}

#total_gain_loss_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

#all_fdr_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

.disabled-card {
    border: 1px solid rgb(61, 61, 61) !important;
    background-color: rgb(75, 75, 75);
    color: rgb(92, 92, 92);
    cursor: none;
}

#homepage .card {
    border:none;
}

.click-title {
    cursor: pointer;
}

.click-title .toggle-button {
    /* transform: rotate(-180deg); */
    transition: transform 250ms ease;
}

.click-title.collapsed .toggle-button {
    transform: rotate(180deg);
}


.flex-column.metric .text-center {
    white-space: nowrap;
}


.starter-button {
    background-color: #bfbfbf;
    color: black;
    border-color: #6d6d6d;
    pointer-events: none;
}

.player-name {
    font-style: italic;
    color: #faffe6!important;
}

.team-name a {
    color: #8ff5ff;
    white-space: nowrap;
    /* border-bottom: 1px dashed; */
}

.team-name a:hover {
    text-decoration: none;
    color:#ff9a9a;
}


#league_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

.sortable-th {
    cursor: pointer;
}

.sortable-th::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: " \f0dc";
}

#ownership_table th {
    position: sticky;
    top: 0px;
    background-color: #343436;
    border-top: 0px;
}

th.vertical-name {
    position: sticky !important;
    left: 0;
    background-color: #474747 !important;
    z-index: 2;
}

.mh-500 {
    max-height: 500px;
}

#league_table thead th {
    position: sticky;
    top: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background-color: #474747;
    box-shadow: inset 0px 0px 0 black, inset 0 -1px 0 white;
    color: #ffeba0;
}

#league_table thead th::after {
    color: white;
}

#league_table tbody td {
    border-bottom: 1px solid #666869;
    border-top: none;
}

.red-border-bottom {
    border-bottom: 1px solid #B81636;
}

.major-display-box {
    background-color: rgb(53, 53, 53);
    border-radius: .5em;
    box-shadow: 0px 0px 2px white;
    text-align: center;
    padding: 10px;
}

.major-box-title {
    font-size: 25px;
    line-height: 25px;
    padding-top: 5px;
}

.major-box-value {
    font-size: 62px;
    line-height: 62px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.major-box-footnote {
    font-size: 10px;
    color: gray;
}

.minor-display-box {
    background-color: rgb(53, 53, 53);
    border-radius: .5em;
    box-shadow: 0px 0px 2px white;
    text-align: center;
    padding: 5px;
}

.minor-box-title {
    font-size: 12px;
    line-height: 12px;
    padding-top: 3px;
}

.minor-box-value {
    font-size: 30px;
    line-height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.minor-box-footnote {
    font-size: 8px;
    color: gray;
}

.metric-self {
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.small-inner-text {
    font-size: 9pt;
    padding-left: 0.3em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.small-inner-text {
    /* max-width: 60px; */
}

.small-perc {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.summary-box {
    border-radius: 20px;
    background-color: #343436;
    border: 1px solid #238381;
}

.summary-box > .title-side {
    background-color: #238381;
}

.summary-box > .value-side {
    font-size: larger;
}

.scenario-link {
    color: #fff292;
    font-size: smaller;
}

.player-clickable {
    cursor: pointer;
}

.player-clickable:hover {
    background-color: steelblue !important;
}