.field-common {
    opacity: 1;
    fill: none;
    fill-opacity: 1;
    stroke: #ababab;
    stroke-width: 1.85208333;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.field-last-path {
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.jersey-regular {
    fill: none;
    stroke: #000000;
    stroke-width: 0.26458332px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.jersey-warning {
    fill: #ff8787 !important;
}

.jersey-warning-inner {
    fill: #a5a5a5 !important;
}

.jersey-team-text {
    fill: #B81636;
}

.jersey-regular-text {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10.58333302px;
    line-height: 1.25;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: middle;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 0.26458332;
}

.jersey-xp-text {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10.58333302px;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    stroke-width: 0.26458332;
}

.jersey-captain-star {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 6px;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    stroke-width: 0.26458332;
}

.jersey-name-bg {
    opacity: 0.22000002;
    stroke: #ababab;
    stroke-width: 0;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    fill: aquamarine !important;
    fill-opacity: 1 !important;
}

.jersey-team-bg {
    stroke: #ababab;
    stroke-width: 0;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    fill: white !important;
    fill-opacity: 1 !important;
    opacity: 0.9 !important;
}

.jersey-player-name {
    fill: white;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 2.46944451px;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    stroke-width: 0.26458332;
}

.jersey-player-name>tspan {
    font-size: 2.8px !important;
}

.jersey-team-name {
    fill: #a10a28 !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 2.11666656px;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    stroke-width: 0.26458332;
}

.jersey-points-display {
    fill: wheat !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 2.11666656px;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    stroke-width: 0.26458332;
}

.jersey-cost-text {
    font-size: 3px;
    stroke: none;
    stroke-width: 0;
    fill: rgb(59, 117, 98);
    text-align: center;
    text-anchor: middle;
}

.jersey-subs-button {
    fill-opacity: 1;
    fill: #ffffff !important;
    stroke: #ffffff !important;
    stroke-opacity: 1;
    stroke-width: 0.1;
    cursor: pointer;
}

.jersey-subs-text {
    font-size: 3.6px;
    fill: #4e00fb !important;
    stroke: #000000 !important;
    stroke-width: 0.1px;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
}

.jersey-transfer-button {
    fill-opacity: 1;
    fill: #d6d6d6 !important;
    stroke: #ffffff !important;
    stroke-opacity: 1;
    stroke-width: 0.1;
    cursor: pointer;
}

.jersey-transfer-text {
    font-size: 3px;
    fill: #901f1f !important;
    stroke: none !important;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
}

rect.game_bar {
    fill: black;
    opacity: 0.025;
    pointer-events: none;
}

rect.player_point_bar {
    fill: #ffffff;
}

rect.lineup_bar {
    fill: #6fcfd6;
    opacity: 0.3;
    pointer-events: none;
}

rect.bench_bar {
    fill: #b995d2;
    opacity: 0.3;
    pointer-events: none;
}

.close_text {
    pointer-events: none;
}

.close_box {
    cursor: pointer;
}

.candle {
    /* opacity: 0.9 */
}

.candle:hover {
    opacity: 1;
    stroke: #ff9500;
    stroke-width: 1px;
}

circle.risk-nodes {
    fill: #579e00;
    stroke: white;
}

circle.risk-nodes:hover {
    stroke: #ffb10f;
}

.candle-gain {
    fill: #6fcfd6;
}
.candle-loss {
    fill: #de6363;
}

.svg-legend-text {
    font-size: small;
}

.gw-bg-odd {
    fill: white;
    opacity: 0.1;
}

.gw-bg-even {
    fill: none;
    opacity: 0;
}

.svg-circles:hover {
    opacity:1
}

.owned-circle {
    fill:rgb(111, 207, 214);
    stroke:white;
    opacity: 0.7;
    stroke-width: 0.2;
    cursor: pointer;
}

.nonowned-circle {
    fill:rgb(255 83 83);
    stroke:white;
    opacity: 0.3;
    stroke-width: 0.2;
    cursor: pointer;
}

.analytics_circles {
    fill: #ff8f8f;
    stroke:white;
    opacity: 0.4;
    stroke-width: 0.2;
    cursor: pointer;
}

.analytics_circles:hover {
    opacity: 1;
}

.selected-circle {
    fill: #31fff9;
    stroke: white;
    opacity: 1;
}

