body {
    background-color: #343436;
    color: lightgray;
}

[v-cloak] {
    display: none;
}

[v-cloak]>* {
    display: none;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.bg-dark-gray {
    background-color: #272729;
}

.bg-light-gray {
    background-color: #343436;
}

.bg-squad-card {
    background-color: #474747;
}

.border-complement {
    border-color: #B81636;
}

.border-field {
    border-color: #394709;
}

#captain_star {
    fill: rgb(91, 182, 152) !important;
    /* stroke-width: 0px !important; */
    stroke: rgb(0, 114, 108) !important;
}

.card-field,
.card-field>.card-header {
    font-size: 13pt;
}

.field-body {
    padding: 0px;
}

.field-body>.field {
    width: 100%;
    opacity: 0.6;
}

svg.field {
    /* width: 100%; */
    width: 425px;
    height: 547px;
}

svg.field>g>* {
    stroke: dimgray !important;
}

.g_jersey>*,
.g_jersey>*>* {
    stroke: dimgray !important;
    fill: gainsboro !important;
}

#player_name_bg {
    fill: aquamarine !important;
    fill-opacity: 1 !important;
}

#player_name {
    fill: white !important;
}

#player_name>tspan {
    font-size: 2.8px !important;
}

#player_team_bg {
    fill: white !important;
    fill-opacity: 1 !important;
    opacity: 0.9 !important;
}

#player_team {
    fill: #a10a28 !important;
}

.jersey_bench>#jersey_bg,
.jersey_bench>path {
    fill: rgb(170, 170, 170) !important;
}

.metric {
    margin-left: 1px;
    margin-right: 1px;
    font-size: 10pt;
}

@media screen and (max-width: 480px) {
    .metric {
        font-size: 9pt;
    }
}

.metric.highlighted {
    color: orange;
}

.metric_title {
    background-color: #00000080;
}

.metric_value {
    background-color: rgba(127, 255, 212, 0.116);
}


/* 
.scenario_title {
    position: relative;
} */

.scenario_title>.smallprint {
    font-size: 7pt;
}


/* 
.scenario_title:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    background-color: black;
    color: white;
    z-index: 1;
} */

main a {
    color: #c47b89;
}

main a:hover {
    color: #5bbbb6;
}

.scenario_detail {
    font-size: small;
    text-align: center;
    color: rgb(197, 197, 197);
}

.disclaimer {
    font-size: small;
    color: gray !important;
}

@media screen and (max-width: 480px) {
    .scenario_detail {
        font-size: x-small;
    }
    .qa {
        font-size: x-small;
    }
    .disclaimer {
        font-size: x-small;
    }
}

.answer {
    color: rgb(187, 187, 187);
}

.date-line {
    color: #c47b89;
    cursor: pointer;
    justify-content: center;
}

.date-line:hover {
    color: #5bbbb6;
}


/* select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
}

select::-ms-expand {
    display: none;
} */

h5.modal-title {
    color: black;
}

.col-metric {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

span.twitter-link {
    display: block;
    float: left;
}

.twitter-link>a {
    color: #c47b89;
}

.twitter-link>a:hover {
    color: #5bbbb6;
}

.index-option {
    transition: border linear 0.4s;
    border: 1px solid rgb(131, 131, 131) !important;
}

.index-option:hover {
    border: 1px solid aquamarine !important;
}

.squad-btn {}

.ptype-1 {
    background-color: rgb(50, 71, 50);
}

.ptype-2 {
    background-color: rgb(45, 45, 66);
}

.ptype-3 {
    background-color: rgb(63, 43, 43);
}

.ptype-4 {
    background-color: rgb(68, 61, 48);
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0) !important;
}


/* Datatables fixes */


/* 
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #ffffff;
}

.dataTables_wrapper select,
.dataTables_wrapper input {
    color: #ffffff;
    background-color: #343436 !important;
}

.dataTables_wrapper select option.dtsb-option {
    background-color: #343436 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #585858 !important;
} */

.dtsb-searchBuilder button {
    color: white !important;
    background: #585858 !important;
}

div.dtsb-searchBuilder button.dtsb-button:hover {
    color: white !important;
    background: #343436 !important;
}

.squad-names-table {
    cursor: pointer;
    border: 1px solid #000;
    color: #fff;
    padding: .25rem .5rem;
    /* font-size: .875rem; */
    line-height: 1.5;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    white-space: nowrap;
}

.squad-names-table:hover {
    color: rgb(212, 212, 212);
    background-color: #343436;
    border-color: #fff;
}

@media screen and (max-width: 480px) {
    .table-responsive {
        font-size: x-small !important;
    }
    .squad-names-table {
        font-size: xx-small;
        padding: .125rem .25rem;
    }
}

.wait-modal {
    color: #000;
}

.plot {
    font-family: Trebuchet MS;
}

.dark-plot text {
    fill: white;
}

.dark-plot path,
.dark-plot line {
    stroke: white;
}

.m-data-table td,
.m-data-table th {
    padding: .2rem;
}

.owned-row {
    background-color: #6fcfd62b;
}

.table-striped tbody tr:nth-of-type(odd).owned-row {
    background-color: #6fcfd612;
}

.bench-row {
    background-color: #c4a9d62b;
}

.table-striped tbody tr:nth-of-type(odd).bench-row {
    background-color: #c4a9d612;
}

.nonowned-row {
    background-color: #de63632b;
}

.table-striped tbody tr:nth-of-type(odd).nonowned-row {
    background-color: #de636312;
}

.text-black {
    color: black;
}

.own-color {
    color: #6fcfd6;
}

.danger-color {
    color: #de6363;
}

.shrink-table {
    width: auto;
}

.important-value {
    color: #f9e86d;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dbdddf;
}

.btn-in-modal {
    padding: .1rem .4rem;
    font-size: small;
}


/* All players table styles */

div.dataTables_wrapper div.dataTables_filter#all_players_table_filter input {
    width: 7rem;
    color: gray;
}

#all_players_table_info {
    display: none;
}

#all_players_table_paginate .page-link {
    padding: 0.25rem 0.4rem;
    border: 0px solid black;
}

#all_players_table .marked-in,
#transfer_squad_table .marked-out {
    background-color: rgb(231, 231, 187);
}

.bottom-gap-bordered {
    position: relative;
}

.bottom-gap-bordered:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0.2rem;
    right: 0.2rem;
    border-bottom: solid white 1px;
}

#trend_table .sorting:before,
#trend_table .sorting_asc:before,
#trend_table .sorting_desc:before,
#trend_table .sorting:after,
#trend_table .sorting_asc:after,
#trend_table .sorting_desc:after {
    top: auto !important;
}


/* .midrule td,
.midrule th:not(.bottom-gap-bordered) {
    border-bottom: 1px solid white !important;
} */


/* Trend table format */

#trend_table_wrapper div.dataTables_scrollBody {
    background: transparent !important;
}

#trend_table_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: #474747 !important;
}

#trend_table_wrapper .table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a !important;
}

#trend_table_wrapper table.DTFC_Cloned tr {
    background-color: #474747 !important;
}

#trend_table_wrapper div.dataTables_processing {
    color: black;
}


/* 
#trend_table_wrapper .dt-buttons.btn-group.flex-wrap {
    position: absolute;
} */

.captain_color {
    color: orange;
}


/* FPL Analytics table format */

#fpl_analytics_table_wrapper div.dataTables_scrollBody {
    background: transparent !important;
}

#fpl_analytics_table_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: #474747 !important;
}

#fpl_analytics_table_wrapper .table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a !important;
}

#fpl_analytics_table_wrapper table.DTFC_Cloned tr {
    background-color: #474747 !important;
}

#fpl_analytics_table_wrapper div.dataTables_processing {
    color: black;
}

#fpl_analytics_table_wrapper a,
#fpl_analytics_table a {
    color: #c6e5ff;
}